@charset "UTF-8";
/* CSS Document */

body{
	background-color: #F2F2F2;
}
h2{
	margin-left: 20px;
	margin-top: 10px;
}

main{
	background-color: #FFFFFF; 
	max-width: 800px; 
	margin: auto;
	padding-bottom: 50px;
}

.mdc-select, .mdc-text-field {
	margin-left: 25%;
	min-width: 50%;
	margin-bottom: 0px;
	margin-top: 0.75em;
}

.mdc-text-field--upgraded:not(.mdc-text-field--fullwidth):not(.mdc-text-field--box){
	margin-top: 0.75em;
}
.mdc-radio-row {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.75em;
	width: 52%;
}

button{
	margin-right: 20px;
	float: right;
}